<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Avatar: </p><img src='<%= user.AvatarUrl %>'/></p>
<p>Found: <%= user.FindCount %></p>
<p>Hide: <%= user.HideCount %></p>
<p>PublicGuid: <%= user.PublicGuid %></p>
<p>AccessToken: <%= token %></p>


    