
<div class="error"><%= error %></div>
<hr/>

<p>ID: <%= user.referenceCode %></p>
<p>Username: <%= user.username %></p>
<p>Avatar: </p><img src='<%= user.avatarUrl %>'/></p>
<p>Found: <%= user.findCount %></p>
<p>Hide: <%= user.hideCount %></p>
<p>Favorite points : <%= user.favoritePoints %></p>
<p>membershipLevelId: <%= user.membershipLevelId %></p>
<p>homeCoordinates: <%= user.homeCoordinates.latitude %>,<%= user.homeCoordinates.longitude %></p>
<%- user.profileText %>

<hr>
<p>AccessToken: <%= token %></p>
<hr>
<pre><%= data %></pre>


    